{% extends "interface/base.html" %}


{% block head %}

	<script type="text/javascript" src="{{ STATIC_URL }}js/fileupload.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/curationswitch.js"></script>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/fileupload.css" type="text/css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/curationswitch.css" type="text/css">

{% endblock %}


{% block container %}
	
	<h2>PiliomeDB Administration</h2>
	
	<hr>
	
	<div class="row">
		
		<div class="col-md-3">
			
			<div class="well" style="padding: 10px 5px; margin-top: 10px;">
				<ul class="nav nav-list">
					<li class="nav-header">Curation Links</li>
					<li>
						<a href="/administration/curation/add_reference/">Submit New Entry</a>
					</li>
					<li>
						<a href="#">My Submitted Entries</a>
					</li>
					<li>
						<a href="#">Pending Entries</a>
					</li>
				</ul>
			</div>
			
			{# Show these tools only to the superuser #}
			{% if user.is_superuser %}
				<div class="well" style="padding: 10px 5px; margin-top: 10px;">
					<ul class="nav nav-list">
						<li class="nav-header">Database Build Tools</li>
						<li>
							<a href="#">
								Manage Versions
							</a>
						</li>
						<li>
							<a href="/administration/tools/img_data_loading_pipeline/dbversion_select/">
								IMG Data Loading Pipeline
							</a>
						</li>
						<li>
							<a href="/administration/tools/cu_classification_pipeline/dbversion_select/">
								CU Classification Pipeline
							</a>
						</li>
					</ul>
				</div>
			{% endif %}
			
		</div>
		
		<div class="col-md-6">
			
			{% if pipeline == "img_data_loading_pipeline" %}
				{% include "builder/img_data_loading_pipeline.html" %}
			{% endif %}
			
			{% if pipeline == "cu_classification_pipeline" %}
				{% include "builder/cu_classification_pipeline.html" %}
			{% endif %}
			
			{% include "interface/curation.html" %}
			
		</div>
		
	</div>

{% endblock %}