<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="PiliomeDB" content="">
    <meta name="Joemar Taganna" content="">

    <title>PiliomeDB</title>
	 
	 {# Load bower-installed components #}
	 <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.js"></script>
	 <script type="text/javascript" src="{{ STATIC_URL }}jquery.cookie/jquery.cookie.js"></script>
	 <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.js"></script>
	 <script type="text/javascript" src="{{ STATIC_URL }}bootstrap-progressbar/bootstrap-progressbar.js"></script>
   <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.feedback_me.js"></script>
	 <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.css" type="text/css">
   <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.feedback_me.css" type="text/css">
	 
	 {# Load the sidebar nav css #}
	 <link rel="stylesheet" href="{{ STATIC_URL }}css/sidebarnav.css" type="text/css">
	 
	 <style>
		 /* Move down content because we have a fixed navbar that is 50px tall */
		 body {
		   padding-top: 50px;
		   padding-bottom: 20px;
		 }
	 </style>

   {{ analytics_code }}
   
	 {% block head %} {% endblock %}
   
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PiliomeDB</a>
        </div>
        <div class="navbar-collapse collapse">
			  
           <ul class="nav navbar-nav">
             <li><a href="/">Home</a></li>
             <li><a href="/browse/">Browse</a></li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a href="/search/by_id_keyword/">By ID or Keywords</a></li>
                 <li><a href="/search/by_sequence/">By Sequence</a></li>
					       <!-- <li><a href="/search/by_pdb/">by PDB structure</a></li> -->
               </ul>
             </li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a href="/tools/context_viewer/launcher/">Gene Context Viewer</a></li>
                 <!-- <li><a href="/tools/conservation_mapper/">Conservation Mapper</a></li> -->
					       <!-- <li><a href="/search/by_pdb/">by PDB structure</a></li> -->
               </ul>
             </li>
    				 <li><a href="/download/">Downloads</a></li>
    				 <li><a href="/user_guide/">User Guide</a></li>
    				 {% if not user.is_authenticated %}
    				 	<li><a href="/login/">Login</a></li>
    				 {% else %}
    	             <li class="dropdown">
    	               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
    	               <ul class="dropdown-menu">
    							<li><a href="/administration/">Dashboard</a></li>
    						  <li><a href="/logout/">Logout</a></li>
    	               </ul>
    	             </li>
    				 {% endif %}
            </ul>

  		   		<div class="col-sm-3 col-md-3 pull-right">
  		   			<form class="navbar-form" role="search" action="/search/by_id_keyword/results/">
  		   				<div class="input-group">
  		   					<input type="text" style="width: 100%;" class="form-control" placeholder="Search by ID or keywords" name="term" id="search-term">
  		   					<div class="input-group-btn">
  		   						<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
  		   					</div>
  		   				</div>
  					  </form>
  				  </div>
				
        	</div><!--/.navbar-collapse -->
      	</div>
    </div>
	 
	 <script>
		 var url = window.location;
		 // Will only work if string in href matches with location
		 $('ul.nav a[href="'+ url +'"]').parent().addClass('active');

		 // Will also work for relative and absolute hrefs
		 $('ul.nav a').filter(function() {
		     return this.href == url;
		 }).parent().addClass('active');
	 </script>
	 
	 {% block banner %} {% endblock %}
		
		<div class="container">
		
			{% block container %} {% endblock %}
		
			<!-- Footer
		
			<hr>
		
			<div class="row">
				<div class="col-md-6">
					<small>&copy; 2013 by Remaut Lab</small><br>
					<small>PiliomeDB version 0.01 alpha</small>
				</div>
			</div>
			-->
		
		</div> <!-- /container -->
	 	<br>

  </body>
  
  <script>
    //set up some minimal options for the feedback_me plugin
    fm_options = {
        title_label: "",
        name_placeholder: "You name",
        show_email: true,
        email_placeholder: "Your email",
        position: "left-bottom",
        message_placeholder: "Problems, comments, suggestions? Please let us know.",
        message_required: true,
        feedback_url: "/send_feedback/",
        show_asterisk_for_required: true,
        close_on_click_outside: true,
        custom_params: {
            csrf: "ABXV0100004",
            user_id: "piliomeAdmin",
            feedback_type: "clean_complex"
        },
        delayed_options: {
        	success_color: "#5cb85c",
        	fail_color: "#d2322d",
        	delay_success_milliseconds: 3500,
          send_success : "Thanks for your feedback!"
        }
      
    };

    //init feedback_me plugin
    fm.init(fm_options);
  </script>
  
</html>
