{% extends "interface/base.html" %}

{% block container %}

		<script type="text/javascript" src="/static/js/libraries/d3.v3.min.js"></script>
		<script src="/static/js/d3.phylogram.js" type="text/javascript"></script>
		<script>
				
      var uhgTarget = window.location.href.split("/").splice(-1)[0].split("=").splice(-1)[0]
      if (uhgTarget.length > 0) {
        if (isNaN(parseInt(uhgTarget))) {
          d3.phylogram.uhgTarget = uhgTarget
        } else {
          d3.phylogram.uhgTarget = 'UHG-' + uhgTarget
        }
      }
          
      d3.json('/static/data/ushers_data.json', function(error, newick) {

				var w = 520, h = 5000;
	      d3.phylogram.build('#phylogram', newick, {
	        width: w,
	        height: h
	      });
        
        $("#loading").hide();
      });
		
	</script>

	<div style="margin-top: 50px;" class="row">
		
		<div class="col-md-7">
      <div id="loading"><img id='loading-gif' src='/static/images/loading.gif' height="70"></div>
			<div id="phylogram"></div>
		</div>
		
		<div style="position: fixed; top: 110px; right: 60px;" class="col-md-5">
			<div id="info"></div>
		</div>
		
	</div>

{% endblock %}