{% extends "interface/base.html" %}

{% block container %}

	<h1>Conservation Mapper</h1>

  <hr>

  <div class="row">
    
    {% if task_id %}
    
      <div class="col-md-6">
        
        <div id="waiting">
          <h4>We're working on it</h4>
          <div class="progress progress-striped active">
              <div class="progress-bar" aria-valuetransitiongoal="0"></div>
          </div>
        </div>
        
        <div id="file-ready">
          <h4>The Pymol script is now ready for download</h4>
          <a href="/downloads/output_file/{{ task_id }}/conservation_mapper.py">
            <button type="submit" class="btn btn-primary">Download</button>
          </a>
        </div>
        
        <script>
          $(".progress .progress-bar").progressbar();
          $("#file-ready").hide();
					function updateProgress(percentage){
				    if (percentage > 100) {percentage = 100;};
				    $('.progress-bar').css('width', percentage+'%');
				    $('.progress-bar').html(percentage+'%');
					}
					var intervalID;
					intervalID = setInterval(function(){
						$.get("/task/?id={{ task_id }}&tool_name=conservation_mapper&command=get_percentage", function(data){
							var percentage = parseInt(data)
							if (percentage > 0) {
								updateProgress(percentage)
								if (percentage == 100) {
									clearInterval(intervalID)
									$(".progress").removeClass("progress-striped")
									$(".progress").removeClass("active")
                  $("#file-ready").show();
								}	
							}
						})
					}, 500)
				</script>
        
      </div>
    
    {% else %}
    
      <div class="col-md-4">
      
  			<h3>Upload a PDB Structure</h3><br>
	
  			<form class="form" enctype="multipart/form-data" action="" method="post">{% csrf_token %}
          <div class="form-group">
  			    <label>Name</label><br>
  			    {{ form.name }}
          </div>
  				{% if form.name.errors %}
  				   {% for error in form.name.errors %}
  				       <p><strong>{{ error|escape }}</strong></p>
  				   {% endfor %}
  				{% endif %}
          <div class="form-group">
  			    <label>Chain</label><br>
  			    {{ form.chain }}
          </div>
  				{% if form.chain.errors %}
  				   {% for error in form.chain.errors %}
  				       <p><strong>{{ error|escape }}</strong></p>
  				   {% endfor %}
  				{% endif %}
  				<div class="input-group" style="margin-top: 20px; margin-bottom: 15px;">
  					<span class="input-group-btn">
  						<span class="btn btn-default btn-file">
  							Select file {{ form.pdb_file }}
  						</span>
  					</span>
  					<input type="text" class="form-control" readonly>
  				</div>
  				{% if form.pdb_file.errors %}
  				   {% for error in form.pdb_file.errors %}
  				       <p><strong>{{ error|escape }}</strong></p>
  				   {% endfor %}<br>
  				{% endif %}
  				<button type="submit" class="btn btn-primary">Upload</button>
  			</form>
      
      </div>
    
  		<script>
  			$(document)
  				.on('change', '.btn-file :file', function() {
  					var input = $(this),
  					numFiles = input.get(0).files ? input.get(0).files.length : 1,
  					label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
  					input.trigger('fileselect', [numFiles, label]);
  			});

  			$(document).ready( function() {
  				$('.btn-file :file').on('fileselect', function(event, numFiles, label) {

  					var input = $(this).parents('.input-group').find(':text'),
  						log = numFiles > 1 ? numFiles + ' files selected' : label;

  					if( input.length ) {
  						input.val(log);
  					} else {
  						if( log ) alert(log);
  					}

  				});
  			});		
  		</script>

  		<style>
  			.btn-file {
  			    position: relative;
  			    overflow: hidden;
  			}
  			.btn-file input[type=file] {
  			    position: absolute;
  			    top: 0;
  			    right: 0;
  			    min-width: 100%;
  			    min-height: 100%;
  			    font-size: 999px;
  			    text-align: right;
  			    filter: alpha(opacity=0);
  			    opacity: 0;
  			    background: red;
  			    cursor: inherit;
  			    display: block;
  			}
  		</style>
      
    {% endif %}
      
  </div>
  
  

{% endblock %}