{% if path == "/administration/curation/add_reference/" %}

	<h3>Submit New Entry</h3>

	<br>

	<form role="form">
		
	  <div class="form-group">
	    <label for="exampleInputEmail1">Pubmed ID</label>
	    <input type="text" class="form-control" id="pubmedID" placeholder="Enter Pubmed ID">
	  </div>
	  
	  <div class="form-group">
	    <label for="exampleInputEmail1">UHG ID</label>
	    <input type="text" class="form-control" id="uhgID" placeholder="UHG ID">
	  </div>

	  <button type="submit" id="submit" class="btn btn-primary">Submit</button>
	</form>
	
	<script>
		$("#submit").click(function(){
			var pubmedID = $("#pubmedID").val();
			var uhgID = $("#uhgID").val();
			var url = "/curation/create_reference/?pubmed_id="+pubmedID+"&uhg_id="+uhgID;
			$.get(url, function(response){
				console.log(response);
				alert(response);
			});
		});
	</script>
	
{% endif %}
