{% extends "interface/base.html" %}

{% load bootstrap_tags %}

{% block container %}

	<h1>Download</h1>

  <hr>

  <div class="row">
    
    {% if task_id %}
    
      <div class="col-md-6">
        
        <div id="waiting">
          <h4>Building the sequence file</h4>
          <div class="progress progress-striped active">
              <div class="progress-bar" aria-valuetransitiongoal="0"></div>
          </div>
        </div>
        
        <div id="file-ready">
          <h4>Sequence file is ready for download</h4>
          <a href="/downloads/output_file/{{ task_id }}/sequences.fasta">
            <button type="submit" class="btn btn-primary">Download</button>
          </a>
        </div>
        
        <script>
          $(".progress .progress-bar").progressbar();
          $("#file-ready").hide();
					function updateProgress(percentage){
				    if (percentage > 100) {percentage = 100;};
				    $('.progress-bar').css('width', percentage+'%');
				    $('.progress-bar').html(percentage+'%');
					}
					var intervalID;
					intervalID = setInterval(function(){
						$.get("/task/?id={{ task_id }}&tool_name=build_sequence_file&command=get_percentage", function(data){
							var percentage = parseInt(data)
							if (percentage > 0) {
								updateProgress(percentage)
								if (percentage == 100) {
									clearInterval(intervalID)
									$(".progress").removeClass("progress-striped")
									$(".progress").removeClass("active")
                  $("#file-ready").show();
								}	
							}
						})
					}, 500)
				</script>
        
      </div>
    
    {% else %}
    
      <div class="col-md-4">
  
        <h3>HMM Profiles</h3>
        <a href="/downloads/file/combined_uhgs.hmm">
          <button type="submit" class="btn btn-primary">Download</button>
        </a>
        <br><br>
      
        <form action="" method="post">{% csrf_token %}
          <h3>Sequences</h3>
          {{ form|as_bootstrap }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Build Sequences</button>
          </div>
        </form>
        
      {% endif %}
      
    </div>
      
  </div>

{% endblock %}