{% extends "interface/base.html" %}

{% load humanize %}

{% block banner %}

	<div id="home-header" class="jumbotron" style="background-image: url(../static/images/header_background.png); background-repeat: no-repeat; background-position: right bottom;">
		<div class="container">
			<h1>PiliomeDB</h1>
			<p>The chaperone-usher pili database</p>
		</div>
	</div>

{% endblock %}


{% block container %}
	
	<div class="row">
		
		<div class="col-md-4">
			<h3>What is PiliomeDB?</h3><br>
			<p>
				PiliomeDB serves as the repository of all genomic and experimental data ever generated about the chaperone-usher systems in bacteria. How can you use this resource? You may:
			</p>
			<ul>
				<li>
					<a href="/search/by_id_keyword/">Search</a> 
					the database based on keywords
				</li>
				<li>
					<a href="/search/by_sequence/">Characterize</a> 
					your unknown usher/adhesin sequence
				</li>
				<li>
					<a href="/download/">Download</a>
					data for offline analysis
				</li>
			</ul><br>
			<p>If you find this database useful, please cite our paper:</p>
				<div style="margin-top: 20px;">
					<a>
						<strong>PiliomeDB: The chaperone-usher pili database</strong>
					</a><br>
					<small>
						Taganna et al. (2014). PiliomeDB: The chaperone-usher pili database. (in preparation)
					</small>
				</div>
		</div>
		
		<div class="col-md-4">
			<h3 align="center">Latest Papers Added</h3><br>
			<ul>
			{% for paper in papers %}
				<li>
					{{ paper.author_list }}. {{ paper.title }} <strong>{{ paper.journal }}</strong> ({{ paper.year }})
					{{ paper.volume }} [{{ paper.issue }}]: {{ paper.pages }}.
				</li><br>
			{% endfor %}
			</ul>
		</div>
		
		<div class="col-md-4">
			<h3 align="center">Latest Release</h3><br>
			<table class="table">
				<tr>
					<td align="right">
						<strong>PiliomeDB v{{ version }}</strong>
					</td>
					<td>beta</td>
				</tr>
				<tr>
					<td align="right">{{ genomes_count|intcomma }}</td>
					<td>Genomes</td>
				</tr>
				<tr>
					<td align="right">{{ usher_genes_count|intcomma }}</td>
					<td>Usher genes</td>
				</tr>
				<tr>
					<td align="right">{{ uhg_count|intcomma }}</td>
					<td>Usher Homology Groups</td>
				</tr>
				<tr>
					<td align="right">{{ ref_links }}</td>
					<td>Primary reference papers</td>
				</tr>
				<tr>
					<td align="right">{{ ref_structures }}</td>
					<td>PDB structures</td>
				</tr>
			</table>
		</div>
	
	</div>

{% endblock %}