{% extends "interface/base.html" %}

{% block container %}
	
	<h1>Login</h1>
	
	<hr>
	
	<div class="row">
		
		<div class="col-md-4">
			<form role="form" action="/login/" method="post">{% csrf_token %}
			  <div class="form-group">
			    <label for="exampleInputEmail1">Username</label>
			    {{ form.username }}
	          {% for error in form.username.errors %}
	              <div class="alert alert-error">
	                  <strong>{{ error|escape }}</strong>
	              </div>
	          {% endfor %}
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    {{ form.password }}
	          {% for error in form.password.errors %}
	              <div class="alert alert-error">
	                  <strong>{{ error|escape }}</strong>
	              </div>
	          {% endfor %}
			  </div>
			  <button type="submit" class="btn btn-primary">Login</button>
			</form>
		</div>
		
	</div>

{% endblock %}