{% extends "interface/base.html" %}

{% block container %}

	<h3>References</h3>

	<hr>

	<div class="row">
	
		<div class="col-md-7">
	
			<ul>
				{% for link in references %}
					<li>
						{{ link.reference.authors|join:", " }}. ({{ link.reference.year }}). 
						<i>{{ link.reference.title }}</i> 
						<strong>{{ link.reference.journal }}</strong>
						{{ link.reference.volume }} [{{ link.reference.issue }}]: {{ link.reference.pages }}.
					</li><br>
				{% endfor %}
			</ul>
		
		</div>
	
	</div>
	
{% endblock %}