{% extends "interface/base.html" %}

{% load interface_filters %}


{% block container %}
	
	<h1>Search</h1>
	
	<hr>
	
	<div class="row">
		
		<div class="col-md-3">
			<div class="well" style="padding: 10px 5px;">
				<ul class="nav nav-list">
					<li class="nav-header">Search Links</li>
					<li><a href="/search/by_id_keyword/" >Search by ID / Keyword</a></li>
					<li><a href="/search/by_sequence/" >Search by Sequence</a></li>
					<!-- <li><a href="/search/by_pdb/">Search By PDB Structure</a></li> -->
				</ul>
			</div>
		</div>
					
		{% if not results %}
		
			<div class="col-md-6">
		
				{% if path == "/search/by_id_keyword/" %}
					<h3>Search by ID or Keywords</h3>
					<form role="form" action="/search/by_id_keyword/results/">
				      <div class="input-group" style="margin-top: 20px;">
				        <input type="text" name="term" class="form-control">
				        <span class="input-group-btn">
				          <button class="btn btn-primary" type="button">Search</button>
				        </span>
				      </div><!-- /input-group -->
					</form>
				{% endif %}

				{% if path == "/search/by_sequence/" %}
					<h3>Search by Sequence</h3><br>
          <form id="seqsearch" role="form" action="" method="POST">
            {{ form.as_p }}
            <input type="hidden" name="method" value="search_by_fasta">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
          <!--
					<form id="seqsearch" role="form" action="" method="POST">
						<label>Choose database</label>
					   <select name="db" class="form-control">
					      <option>ushers</option>
						    <option>chaperones</option>
                <option>major subunits</option>
                <option>adhesins</option>
					   </select>
					   <div class="form-group" style="margin-top: 20px;">
						   <label>Enter sequence</label>
					     <textarea name="sequence" class="form-control" rows="3"></textarea>
						  <input type="hidden" name="method" value="search_by_fasta">
					   </div>
						<button class="btn btn-primary" type="submit">Search</button>
					</form>
          -->
				{% endif %}
		
				{% if path == "/search/by_pdb/" %}
					<h3>Search by PDB Structure</h3>
			
					<form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
							<div class="input-group" style="margin-top: 20px; margin-bottom: 15px;">
								<span class="input-group-btn">
									<span class="btn btn-default btn-file">
										Select file {{ form.uploaded_file }}
									</span>
								</span>
								<input type="text" class="form-control" readonly>
							</div>
							{% if form.uploaded_file.errors %}
							   {% for error in form.uploaded_file.errors %}
							       <p><strong>{{ error|escape }}</strong></p>
							   {% endfor %}<br>
							{% endif %}
							<button type="submit" class="btn btn-primary">Upload and Search</button>
					</form>
			
					<script>
						$(document)
							.on('change', '.btn-file :file', function() {
								var input = $(this),
								numFiles = input.get(0).files ? input.get(0).files.length : 1,
								label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
								input.trigger('fileselect', [numFiles, label]);
						});

						$(document).ready( function() {
							$('.btn-file :file').on('fileselect', function(event, numFiles, label) {
		
								var input = $(this).parents('.input-group').find(':text'),
									log = numFiles > 1 ? numFiles + ' files selected' : label;
		
								if( input.length ) {
									input.val(log);
								} else {
									if( log ) alert(log);
								}
		
							});
						});		
					</script>

					<style>
						.btn-file {
						    position: relative;
						    overflow: hidden;
						}
						.btn-file input[type=file] {
						    position: absolute;
						    top: 0;
						    right: 0;
						    min-width: 100%;
						    min-height: 100%;
						    font-size: 999px;
						    text-align: right;
						    filter: alpha(opacity=0);
						    opacity: 0;
						    background: red;
						    cursor: inherit;
						    display: block;
						}
					</style>
			
				{% endif %}
			
			<div>
			
		{# If there are BLAST results #}
		{% else %}
		
			<div class="col-md-6">
        <h3>Searching by Sequence</h3><br>
        <div style="margin-top: 10px;" id="loading">
          <img id='loading-gif' src='/static/images/loading.gif' height="80">
        </div>
        
        <script>
					var intervalID;
					intervalID = setInterval(function(){
						$.get("/task/?id={{ results }}&tool_name=blast&command=get_percentage", function(data){
							var percentage = parseInt(data)
							if (percentage > 0) {
								if (percentage == 100) {
                  clearInterval(intervalID);
                  window.location = "/search/by_sequence/results/{{ results }}";
								}	
							}
						})
					}, 500)
				</script>
			
			</div>

		{% endif %}
			
	</div>

{% endblock %}