{% extends "interface/base.html" %}

{% load interface_filters %}

{% block container %}
	
  <h1>Results</h1>
  
  <hr>
  
  {% if search_method == "sequence" %}
  
    <div style="width: 70%;">
    
  		{% for alignment in results.alignments %}
  			{% for hsp in alignment.hsps %}
  				{% if hsp.expect < 0.0001 %}
            {% if hsp|compute_identity > 95 %}
  						<div class="panel panel-default">
  						  <div class="panel-heading">
  						    <h3 class="panel-title">{{ alignment.title|get_match }} 
                    {% if alignment.title|identify_uhg %}
                      | <a href="/browse/?id={{ alignment.title|identify_uhg }}" style="color: #3d8cc5;">
                          UHG: {{ alignment.title|identify_uhg }}
                        </a>
                    {% endif %}
                  </h3>
  						  </div>
  						  <div class="panel-body">
    							Match length: {{ alignment.length }}<br>
    							Alignment Length: {{ hsp.align_length }}<br>
    							Identities: {{ hsp.identities }} ({{ hsp|compute_identity }}%)<br>
    							E-value: {{ hsp.expect }}<br>
                  Alignment:<br>
                  {% spaceless %}
  	  							<div style="font-family: monospace; overflow: scroll;">
                      query:&nbsp;{{ hsp.query }}<br>
                      <!-- match:&nbsp;{{ hsp.match|safe }}<br> -->
                      sbjct:&nbsp;{{ hsp.sbjct }}
                    </div>
                    <script>
                      console.log("{{ hsp.match|safe }}")
                    </script>
                  {% endspaceless %}
  						  </div>
  						</div>

            {% endif %}
  				{% endif %}
  			{% endfor %}
  		{% endfor %}
      
    </div>
    
  {% else %}
  
    <div style="width: 70%;">
    
      <div style="margin-top: 30px;">
        <h4>Usher Homology Groups ({{ UHGs|length }})</h4>
        {% if UHGs %}
          <ol>
            {% for uhg in UHGs %}
              <li>
                <a href="/browse/?id={{ uhg.id }}">
                  UHG{{ uhg.id }} 
                </a>
                {% if uhg.name %}
                  - {{ uhg.name}}
                {% endif %}
                {% if uhg.synonyms %}
                  ({{ uhg.synonyms|concatenate_list }})
                {% endif %}
              </li>
            {% endfor %}
          </ol>
        {% else %}
          No UHGs found
        {% endif %}
      </div>
      
      <div style="margin-top: 30px;">
        <h4>Strains ({{ Taxa|length }})</h4>
        <div style="max-height: 300px; overflow: scroll;">
          {% if Taxa %}
            <ol>
              {% for strain in Taxa %}
                <li>
                  <a href="#">
                    {{ strain.name }}
                  </a>
                </li>
              {% endfor %}
            </ol>
          {% else %}
            No strains found
          {% endif %}
        </div>
      </div>
    
      <div style="margin-top: 30px;">
        <h4>Papers ({{ Papers|length }})</h4>
        <div style="max-height: 300px; overflow: scroll;">
          {% if Papers %}
            <ol>
              {% for paper in Papers %}
                <li>
                  <a href="#">
                    {{ paper.authors|format_authors }}
                  </a>
                  <strong>{{ paper.year }}</strong>.
                  <i>{{ paper.title }}</i>.
                  {{ paper.journal }}
                </li>
              {% endfor %}
            </ol>
          {% else %}
            No papers found
          {% endif %}
        </div>
      </div>
      
    </div>
  
  {%endif %}

{% endblock %}