{% extends "interface/base.html" %}

{% block container %}

	{% load interface_filters %}
	
	<h1>Browse</h1>
	
	<hr>
	
	<div class="row">
		
		<div class="col-md-12">
		
			<table class="table table-striped table-hover">
				<thead style="font-weight: bold;">
					<tr>
						<td>UHG ID</td>
						<td>FUP Clade</td>
						<td>Members</td>
						<td>Name(s)</td>
						<td>References/Additional Info</td>
						<td>Adhesin Domains</td>
					</tr>
				</thead>
				<tbody>
					{% for uhg in uhgs %}
						<tr>
							<td>UHG-{{ uhg.id }}</td>
							<td>{{ uhg.clade }}</td>
							<td>
								<a href="/tools/context_viewer/?query=uhg:{{uhg.id}}&page=1">
									{{ uhg.unique_members }}
								</a>
							</td>
							<td>{{ uhg.name }}
								{% if uhg.synonyms %}
								 	({{ uhg.synonyms}})
								{% endif %}
							</td>
							<td>
								{% if uhg.references.count %}
									<a href="/references/?uhg={{ uhg.id }}">References</a>
								{% endif %}
							</td>
							<td class="col-md-4">
								{% for domain in uhg.adhesin_pfam_domains %}
									<span style="color: {{ colors|hash:domain }}; font-weight: bold;">
										{{ domain }}
									<span> &nbsp;
								{% endfor %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		
		</div>
		
	</div>

{% endblock %}