{% extends "interface/base.html" %}

{% block container %}
  
		<script type="text/javascript" src="/static/js/libraries/d3.v3.min.js"></script>
		<script src="/static/js/d3.treecompare.js" type="text/javascript"></script>
		<script>
    
      var uhgTarget = window.location.href.split("/").splice(-1)[0].split("=").splice(-1)[0]
      if (uhgTarget.length > 0) {
        if (isNaN(parseInt(uhgTarget))) {
          d3.phylogram.uhgTarget = uhgTarget
        } else {
          d3.phylogram.uhgTarget = 'UHG-' + uhgTarget
        }
      }

      var w = 300, h = 550;
      
      d3.json('/static/data/chaperones_compare_data.json', function(error, newick) {
        
	      d3.phylogram.chaperonesTree = d3.phylogram.build("#tree1", newick, {
	        width: w,
	        height: h
	      });
        
      });
      
      d3.json('/static/data/ushers_data.json', function(error, newick) {
        
	      d3.phylogram.ushersTree = d3.phylogram.build("#tree2", newick, {
	        width: 300,
	        height: 3000
	      });
        
      });
      
      d3.json('/static/data/adhesins_compare_data.json', function(error, newick) {
				
	      d3.phylogram.adhesinsTree = d3.phylogram.build("#tree3", newick, {
	        width: w,
	        height: h
	      });
        
      });
		
	</script>
  
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-12">
    </div>
  </div>
  
  <div class="row" style="margin-top: 10px;">
    <div class="col-md-4" id="tree1">Chaperones</div>
    <div class="col-md-4" id="tree2" style="height: 600px; overflow: scroll;">Ushers</div>
    <div class="col-md-4" id="tree3">Adhesins</div>
  </div>

{% endblock %}