{% extends "interface/base.html" %}

{% block container %}
  
  <div style="margin-top: 30px;">
  
    {% for group in groups %}
  
      <div class="row" style="margin: 50px 0;">
        <div class="col-md-4">
          <img src="/static/images/circular_trees/ushers_{{ group }}.jpg" height="320">
        </div>
        <div class="col-md-4">
          <img src="/static/images/circular_trees/chaperones_{{ group }}.jpg" height="320">
        </div>
        <div class="col-md-4">
          <img src="/static/images/circular_trees/adhesins_{{ group }}.jpg" height="320">
        </div>
      </div>
    
    {% endfor %}
  
  </div>

{% endblock %}