<!DOCTYPE html>
<html lang="en">
  <head>
	 
	 {# Load bower-installed components #}
	 <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.js"></script>
	 <script type="text/javascript" src="{{ STATIC_URL }}bootstrap/dist/js/bootstrap.js"></script>
	 <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/dist/css/bootstrap.css" type="text/css">
   <script type="text/javascript" src="/static/js/libraries/d3.v3.min.js"></script>

  </head>

  <body>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#generalInfo">
              PiliomeDB Entry Information
            </a>
          </h4>
        </div>
        <div id="generalInfo" class="panel-collapse collapse in">
          <div class="panel-body">
            <table class="table table-bordered" style="margin-bottom: -1px;">
              <tr>
                <td><strong>UHG ID</strong></td>
                <td><strong>Name(s)</strong></td>
                <td><strong>Members</strong></td>
              </tr>
              <tr>
                <td>{{ uhg.id }}</td>
                <td>{{ uhg.uhg_name }}</td> 
                <td>
                  <a href="/tools/context_viewer/?query=uhg:{{ uhg.id }}&page=1">
                    {{ uhg.get_members|length }}
                  </a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#taxonDist">
              Taxonomic Distribution
            </a>
          </h4>
        </div>
        <div id="taxonDist" class="panel-collapse collapse in">
          <div class="panel-body">
            <div id="taxondata" style="display: none;">{{ uhg.taxonomic_distribution|safe }}</div>
            <div id="taxondist" style="margin-left: 25%; background: white;"></div>
          </div>
        </div>
      </div>
      {% if operons %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#geneClusters">
                Operon Organization
              </a>
            </h4>
          </div>
          <div id="geneClusters" class="panel-collapse collapse">
            <div class="panel-body">
            
            </div>
          </div>
        </div>
      {% endif %}
      {% if structures %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#pdbStructures">
                Structures
              </a>
            </h4>
          </div>
          <div id="pdbStructures" class="panel-collapse collapse">
            <div class="panel-body" style="max-height: 350px; overflow: scroll; padding-bottom: 10px;">
              <ul style="list-style: none;">
                {% for structure in structures %}
                  <li>
                    <img src="/static/images/structures/{{ structure.pdb_id }}.jpg" height="300">
                    <p>
                      <small>
                        <strong>{{ forloop.counter }}.</strong> {{ structure.description }} [PDB: 
                        <a href="http://www.pdb.org/pdb/explore/explore.do?structureId={{ structure.pdb_id }}">
                          {{ structure.pdb_id }}
                        </a>]
                      </small>
                    </p>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}
      {% if references %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#pubmedReferences">
                References
              </a>
            </h4>
          </div>
          <div id="pubmedReferences" class="panel-collapse collapse">
            <div class="panel-body" style="max-height: 300px; overflow: scroll; padding-bottom: 10px;">
        			<ol style="margin-left: -15px;">
        				{% for ref in references %}
        					<li>
                    <small>
          						{{ ref.authors|join:", " }}. ({{ ref.year }}). 
          						<i>{{ ref.title }}</i> 
          						<strong>{{ ref.journal }}</strong>
          						{{ ref.volume }} [{{ ref.issue }}]: 
                      {{ ref.pages }}. [Pubmed ID:
                      <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ ref.pubmed_id }}">
                        {{ ref.pubmed_id }}
                      </a>]
                    </small>
        					</li>
        				{% endfor %}
        			</ol>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </body>
  
</html>
