{% extends "interface/base.html" %}

{% block container %}
	
	<h1>User Guide</h1>
	
	<hr>
  
  <style>
    .guide {
      width: 80%;
    }
    .guide h3 {
      margin: 25px 0;
    }
    .guide ul {
      list-style: none;
    }
  </style>
  
  <div class='guide'>
  
    <h3>Browsing the UHG Tree</h3>
  
    <h3>Questions and Answers</h3>
    <ul style="margin-left: -15px;">
      </li>
        <h4>Q: Does a UHG stand for a distinct pilus functionality?</h4>
        <p>A: Except for cases when a UHG is proven experimentally to have a distinct function as determined by the binding specificity of its adhesin or other subunits, the grouping of gene clusters into a particular UHG should be taken as a hypothesis that awaits experimental verification (or falsification).</p>
      </li>
      <li>
        <h4>Q: How confident are you that an usher sequence belongs to a UHG and not to the closely related UHG?</h4>
        <p>A: As far as we know, standard methods to quantitatively measure the degree of confidence for the inclusion of a sequence into a homology group does not exist yet. This is something that we will surely look into in the future.</p>
      </li>
    </ul>
    
  </div>
  
{% endblock %}