{% extends "interface/base.html" %}

{% load bootstrap_tags %}

{% block container %}

  <div class="row">
    <div class="col-md-12">
      <h3>Gene Context Viewer</h3>
      <hr>
    </div>
    <div class="col-md-4">
      <form action="/tools/context_viewer/">{% csrf_token %}
        {{ form|as_bootstrap }}
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Visualize</button>
        </div>
      </form>
    </div>
  </div>

{% endblock %}