<!doctype html>
<html ng-app='geneContextViewer'>
<head>
	
    <script type="text/javascript" src="{{ STATIC_URL }}jquery/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/ui-bootstrap-tpls-0.2.0.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/jquery-ui.js"></script>

    <script type="text/javascript" src="{{ STATIC_URL }}farbtastic/farbtastic.js"></script>
    <link href="{{ STATIC_URL }}/farbtastic/farbtastic.css" rel="stylesheet">

    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/d3.v3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/libraries/jquery.tipsy.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/context_viewer.js"></script>

    <link href="{{ STATIC_URL }}css/frameworks/bootstrap-combined.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/frameworks/jquery-ui.css" rel="stylesheet">
    
	<link href="{{ STATIC_URL }}css/frameworks/tipsy.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/context_viewer.css" rel="stylesheet">

    <title>PiliomeDB Gene Cluster Viewer</title>

</head>
<body>
  
<div class="navbar navbar-inverse navbar-fixed-top" style="height: 40px;">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/">PiliomeDB</a>
          <div class="nav-collapse collapse">
           <ul class="nav navbar-nav">
             <li><a href="/">Home</a></li>
             <li><a href="/browse/">Browse</a></li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a href="/search/by_id_keyword/">By ID or Keywords</a></li>
                 <li><a href="/search/by_sequence/">By Sequence</a></li>
					       <!-- <li><a href="/search/by_pdb/">by PDB structure</a></li> -->
               </ul>
             </li>
             <li class="dropdown">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <b class="caret"></b></a>
               <ul class="dropdown-menu">
                 <li><a href="/tools/context_viewer/launcher/">Gene Context Viewer</a></li>
                 <!-- <li><a href="/tools/conservation_mapper/">Conservation Mapper</a></li> -->
					       <!-- <li><a href="/search/by_pdb/">by PDB structure</a></li> -->
               </ul>
             </li>
    				 <li><a href="/download/">Downloads</a></li>
    				 <li><a href="/user_guide/">User Guide</a></li>
    				 {% if not user.is_authenticated %}
    				 	<li><a href="/login/">Login</a></li>
    				 {% else %}
    	             <li class="dropdown">
    	               <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
    	               <ul class="dropdown-menu">
    							<li><a href="/administration/">Dashboard</a></li>
    						  <li><a href="/logout/">Logout</a></li>
    	               </ul>
    	             </li>
    				 {% endif %}
            </ul>
            
            <form class="navbar-form pull-right" action="/search/by_id_keyword/results/">
              <input class="span2" type="text" placeholder="Search by ID or keywords" name="term">
              <button type="submit" class="btn">Search</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
    <div id="container" ng-controller="ContextViewerCtrl" data-ng-init="init()">

        <!-- ><h2 id="tool-name"><a href="/tools/context_viewer/">Gene Context Viewer</a></h2> -->
		
		<div id="input-data" style="display: none;">{{ input_data }}</div>

        <div id="context-menu">
			<ul>
				<li><a ng-click="displayGeneDetails(currentSelectedGene)">Display Gene Details</a></li>
			</ul>
            <ul>
                <li><a ng-click="assignIndividualGeneName(currentSelectedGene)">Assign a Name</a></li>
            </ul>
            {% if user.is_superuser %}
              <ul>
                  <li><a ng-click="removeGeneAnnotation(currentSelectedGene)">Remove annotation</a></li>
              </ul>
            {% endif %}
            <ul>
                <li><a ng-click="assignIndividualColor(currentSelectedGene)">Set Gene Color</a></li>
            </ul>
            <ul>
                <li ng-show="nameExists(currentSelectedGene)">
                    <a ng-click="assignIndividualTextColor(currentSelectedGene)">Set Text Color</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a ng-click="findSimilar(currentSelectedGene,'blast')">Find Similar Genes With BLAST</a>
                </li>
            </ul>
			<!--
            <ul>
                <li>
                    <a ng-click="findSimilar(currentSelectedGene,'domainMatching')">Find Genes With Same Domains</a>
                </li>
            </ul>
			-->
            <ul>
                <li ng-show="savedSelectionNames.length > 0">
                    <a ng-click="removeFromSelection(currentSelectedGene)">Remove From Selection</a>
                </li>
            </ul>
        </div>

        <div style="display:none" id="initial-form">
          
            <h3>Gene Context Viewer</h3>
            
            <hr><br>

            <div class="tabbable" style="width: 50%;"> <!-- Only required for left/right tabs -->

                <ul class="nav nav-tabs">
                    <li class="active"><a href="#uhg" data-toggle="tab">Select UHG</a></li>
                    <!-- <li><a href="#gene_oid" data-toggle="tab">IMG Gene Object ID</a></li> -->
                    <li><a href="#import" data-toggle="tab">Exported Data</a></li>
                </ul>

                <div class="tab-content">
                  
                    <div class="tab-pane active" id="uhg">
                        <form action="/tools/context_viewer/">
                            <input name="page" value="1" type="hidden">
                            <select name="query">
                              <option value="uhg:1">UHG1</option>
                              <option value="uhg:2">UHG2</option>
                            </select><br>
                            <button class="btn btn-primary">
                                Visualize
                            </button>
                        </form>
                    </div>
                    
                    <!-- 
                    <div class="tab-pane" id="gene_oid">
                        <form>
                            <textarea class="accessions" ng-model="gene_oids" placeholder="Enter multiple entries separated by comma">

                            </textarea><br>
                            <button class="btn btn-primary" ng-click="visualize(40000)" processing-status>
                                Visualize
                            </button>
                        </form>
                    </div>
                    -->
                    <div class="tab-pane" id="import">
                            <textarea class="accessions" ng-model="exporteddata" placeholder="Paste here the exported JSON data">
                            </textarea><br>
                            <button class="btn btn-primary" ng-click="loadAndVisualize(40000)" processing-status>
                                Load and Visualize
                            </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="results-container" id="display-[[displayResults]]">

            <div id="main-controls">
                <hr>
                <div class="btn-group" data-toggle="buttons-checkbox">
                    <button type="button" class="btn btn-primary" ng-model="scaLength" btn-radio="40000" ng-click="visualize(40000)">40K</button>
                    <button type="button" class="btn btn-primary" ng-model="scaLength" btn-radio="20000" ng-click="visualize(20000)">20K</button>
                    <button type="button" class="btn btn-primary" ng-model="scaLength" btn-radio="10000" ng-click="visualize(10000)">10K</button>
                    <button type="button" class="btn btn-primary" ng-model="scaLength" btn-radio="5000" ng-click="visualize(5000)">5K</button>
                </div>

                <div class="btn-group" data-toggle="buttons-checkbox">
                    <button type="button" class="btn btn-primary" ng-model="queryStrand" btn-radio="'actual'">Actual</button>
                    <button type="button" class="btn btn-primary" ng-model="queryStrand" btn-radio="'identical'">Identical</button>
                </div>

                <div class="btn-group" data-toggle="buttons-checkbox">
                    <button type="button" class="btn btn-primary" ng-model="geneNames" btn-radio="'noName'">None</button>
                    <button type="button" class="btn btn-primary" ng-model="geneNames" btn-radio="'locusTag'">Locus Tag</button>
                    <button type="button" class="btn btn-primary" ng-model="geneNames" btn-radio="'geneOID'">Gene Object ID</button>
                </div>
                
                <!-- 
                <div class="btn-group" data-toggle="buttons-checkbox">
                    <button type="button" class="btn btn-primary" ng-model="geneColors" btn-radio="'bright'">Bright</button>
                    <button type="button" class="btn btn-primary" ng-model="geneColors" btn-radio="'plain'">Plain</button>
                    <button type="button" class="btn btn-primary" ng-model="geneColors" btn-radio="'blank'">Blank</button>
                </div>
                -->
                  
                <div class="btn-group">
                  {% if page_number > 1 %}
                    <button id="previous" type="button" class="btn btn-primary">
                        << Prev
                    </button>
                  {% endif %}
                  <button type="button" class="btn btn-primary">
                      {{ page_number }} of {{ pages }}
                  </button>
                  {% if page_number < pages %}
                    <button id="next" type="button" class="btn btn-primary">
                        Next >>
                    </button>
                  {% endif %}
                </div>
                
                <script>
                  $("#next").click(function(){
                    window.location = '?query=uhg:' + {{ uhg_id }} + '&page=' + {{ page_number|add:"1" }};
                  });
                  $("#previous").click(function(){
                    window.location = '?query=uhg:' + {{ uhg_id }} + '&page=' + {{ page_number|add:"-1" }};
                  });
                </script>
                
                {% if user.is_authenticated %}
                  <button id="customize" type="button" class="btn btn-primary" ng-model="customize" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                      Customize
                  </button>
                {% endif %}
                
                <hr>
            </div>
            <textarea id="export-textarea" ng-hide="savedSelectionNames.length == 0"></textarea>

            <div style="display: none;" class="custom-ctrl" ng-show="customize == 1">

                <button type="button" class="btn btn-primary" ng-model="queryHighlight" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                    Query Highlight
                </button>

                <div id="current-selection" class="btn-group" data-toggle="buttons-checkbox">
                    <button type="button" class="btn btn-primary" ng-model="customCtrl.clear" btn-checkbox>Clear Current Selection</button>
                    <button type="button" class="btn btn-primary" ng-model="customCtrl.add" btn-checkbox ng-show="savedSelectionNames.length > 0 && currentSelections.default.length > 0">
                        Add to Existing
                    </button>
                    <button type="button" class="btn btn-primary" ng-model="customCtrl.save" btn-checkbox>Save Selection</button>
                </div>

                <div id='default-selection-count' class="hidden" ng-show="currentSelections.default.length > 0">
                    [[currentSelections.default.length]]
                </div>

                <div id="saved-selections" ng-show="savedSelectionNames.length > 0">
                    <hr>
                    <div class="btn-group" ng-repeat="name in savedSelectionNames">
                        <button class="btn btn-primary">[[name]]</button>
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            {% if user.is_superuser %}
                              <li>
                                  <a ng-click="saveToDatabase(name)">Save to Database</a>
                              </li>
                            {% endif %}
                            <li ng-hide="selectionIsLoaded(name)">
                                <a ng-click="loadSelection(name)">Load to Viewer</a>
                            </li>
                            <li ng-show="selectionIsLoaded(name)">
                                <a ng-click="unloadSelection(name)">Unload from Viewer</a>
                            </li>
                            <li ng-show="selectionIsLoaded(name)">
                                <a ng-click="assignName(name)">Assign Name</a>
                            </li>
                            <li ng-show="selectionIsLoaded(name)">
                                <a ng-click="assignColor(name)">Set Gene Color</a>
                            </li>
                            <li ng-show="selectionIsLoaded(name)">
                                <a ng-click="assignTextColor(name)">Set Text Color</a>
                            </li>
                            <li>
                                <a ng-click="deleteSelection(name)">Delete Selection</a>
                            </li>
                        </ul>
                    </div>

                    <button id="export-btn" ng-show="savedSelectionNames.length > 0" type="button" class="btn btn-primary" ng-model="export" btn-checkbox btn-checkbox-true="1" btn-checkbox-false="0">
                        Export Saved Selections
                    </button>

                </div>

                <hr ng-show='savedSelectionNames.length > 0'>

                <custom-panel incolor=[[inputSelectionColor]] colorpicker=[[colorPicker]] params=[[customCtrl]] export=[[export]]></custom-panel>

                <input id="input-color" type="text" ng-model="inputSelectionColor" color-control>
                <div style="display: none;" class="color-picker" ng-show="colorPicker == 1"></div>
            </div>

            <div id="width-control">
                <input id="mw-input" ng-model="mapwidth">
                <div id="mw-slider"></div><br>
            </div>

            <div id="compactness-control">
                <input id="mc-input" ng-model="mapcompactness">
                <div id="mc-slider"></div><br>
            </div>

            <div id="loading"><img id='loading-gif' src='/static/images/loading.gif'></div>

            <ul id="img-list">
                <li class="img-item" ng-repeat="scaffold in scaffolds">
                    <context-map textcolmap=[[textColorMap]] queryhighlight=[[queryHighlight]] customize=[[customize]] incolor=[[inputSelectionColor]] custom=[[customCtrl]] colors=[[geneColors]] namemap=[[nameMap]] colormap=[[colorMap]] scaffold=[[scaffold]] mapwidth=[[mapwidth]] maphgt=[[mapcompactness]] names=[[geneNames]] scalength=[[scaLength]] orient=[[queryStrand]]></context-map>
                </li>
            </ul>
            
        </div>

        <div id="developer">
            <small>Developed by Joemar Taganna. Flanders Institute for Biotechnology (VIB).</small>
        </div>
    </div>
	
</body>
</html>