<h3>CU Classification Pipeline</h3>

{% if version == "select" %}
	<br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Select PiliomeDB Version</h3>
		</div>
		<div class="panel-body">
			<form class="form-inline" action="/administration/version_select/" role="form" method="post">
				{% csrf_token %}
			   <div class="form-group">
			     	{{ version_select.version }}
			   </div>
					{{ version_select.pipeline }}
				<div class="form-group">
				   <button class="btn btn-primary">Select</button>
				</div>
			</form>
		</div>
	</div>
	
{% else %}  

	<style>
		ul.tool-steps {
			margin-left: -40px;
			margin-bottom: 10px;
			list-style: none;
		}
		ul.tool-steps li {
			margin-top: 5px;
			margin-bottom: 5px;
			padding: 7px;
			border: 1px solid lightgray;
			border-radius: 4px;
		}
	</style>

	<h4>PiliomeDB version {{ version }}</h4><br>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{% if cdhit_clustering_done  %}<i class="glyphicon glyphicon-ok"></i>&nbsp;{% endif %}
				CD-HIT Clustering to Eliminate Redundancy
			</h3>
		</div>
		<div class="panel-body">
				
			<h6>CLUSTERING STEPS</h6>

			<ul class="tool-steps">
				<li>
					Writing all usher sequences into a single file as input for CD-HIT
					{% if cdhit_clustering_task1_id %}
						<div class="progress progress-striped active" style="margin-top: 10px; margin-bottom: 10px;">
						   <div class="progress-bar" role="progressbar" style="width: 100%">
								Checking task progress
						   </div>
						</div>
				
						<script>
							function updateProgress(percentage){
							    if(percentage > 100) percentage = 100;
							    $('.progress-bar').css('width', percentage+'%');
							    $('.progress-bar').html(percentage+'%');
							}
							var intervalID;
							intervalID = setInterval(function(){
								$.get("/task/?id={{ cdhit_clustering_task1_id }}&step=1&tool_name=cdhit_clustering_tool&command=get_percentage", function(data){
									var percentage = parseInt(data)
									if (percentage > 0) {
										updateProgress(percentage)
										if (percentage == 100) {
											clearInterval(intervalID)
											$(".progress").removeClass("progress-striped")
											$(".progress").removeClass("active")
											$("#cancel").hide()
											window.location = "{{ path }}"
										}	
									}
								})
							}, 2000)
						</script>
				
					{% endif %}
				</li>
		
				<li>
					Identifiying completely identical sequences
					{% if cdhit_clustering_task2_id %}
						<div class="progress progress-striped active" style="margin-top: 10px; margin-bottom: 10px;">
						   <div class="progress-bar" role="progressbar" style="width: 100%">
								Checking task progress
						   </div>
						</div>
				
						<script>
							function updateProgress(percentage){
							    if(percentage > 100) percentage = 100;
							    $('.progress-bar').css('width', percentage+'%');
							    $('.progress-bar').html(percentage+'%');
							}
							var intervalID;
							intervalID = setInterval(function(){
								$.get("/task/?id={{ cdhit_clustering_task2_id }}&step=2&tool_name=cdhit_clustering_tool&command=get_percentage", function(data){
									var percentage = parseInt(data)
									if (percentage > 0) {
										updateProgress(percentage)
										if (percentage == 100) {
											clearInterval(intervalID)
											$(".progress").removeClass("progress-striped")
											$(".progress").removeClass("active")
											$("#cancel").hide()
											window.location = "{{ path }}"
										}	
									}
								})
							}, 2000)
						</script>
				
					{% endif %}
				</li>
			</ul>
			
			{% if not cdhit_clustering_task1_id and not cdhit_clustering_task2_id %}
				{% if not cdhit_clustering_done  %}
					<form action="" method="post">{% csrf_token %}
						<input type="hidden" name="tool" value="cdhit_clustering_tool">
						<button class="btn btn-primary">Run Clustering</button>
					</form>
				{% endif %}
			{% endif %}
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Multiple Sequence Alignment of Non-Redundant Ushers</h3>
		</div>
		<div class="panel-body">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Automated Alignment Trimming</h3>
		</div>
		<div class="panel-body">
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Identification of CU Types</h3>
		</div>
		<div class="panel-body">
		</div>
	</div>
	
{% endif %}