<h3>IMG Data Loading Pipeline</h3>

{% if version == "select" %}
	<br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Select PiliomeDB Version</h3>
		</div>
		<div class="panel-body">
			<form class="form-inline" action="/administration/version_select/" role="form" method="post">
				{% csrf_token %}
			   <div class="form-group">
			     	{{ version_select.version }}
			   </div>
					{{ version_select.pipeline }}
				<div class="form-group">
				   <button class="btn btn-primary">Select</button>
				</div>
			</form>
		</div>
	</div>
	
{% else %}

	<style>
		ul.tool-steps {
			margin-left: -40px;
			margin-bottom: 10px;
			list-style: none;
		}
		ul.tool-steps li {
			margin-top: 5px;
			margin-bottom: 5px;
			padding: 7px;
			border: 1px solid lightgray;
			border-radius: 4px;
		}
	</style>

	<h4>PiliomeDB version {{ version }}</h4><br>

	<div id="load-ushers" class="panel panel-default">
		<div class="panel-heading">
	      <h3 class="panel-title">
				<i class="glyphicon glyphicon-plus"></i>&nbsp;
				Load Ushers
			</h3>
	   </div>
		<div class="panel-body">
			<p>There are {{ ushers_count }} ushers loaded for this version.</p>
			
			<div id="errors">
				{% if ushers_upload_form.errors.uploaded_file %}
					{% for error in ushers_upload_form.errors.uploaded_file %}
						<p style="color: red;">{{ error }}</p>
					{% endfor %}
				{% endif %}
			</div>
			
			{% if not ushers_loader_task_id %}
				<div id="load-ushers-form">
					<p>Upload the FASTA file of the amino acid sequences of ushers searched from IMG:</p>
					<form enctype="multipart/form-data" action="/administration/tools/{{ pipeline }}/dbversion_{{ version }}/" method="post">
						{% csrf_token %}
						<div class="input-group" style="margin-bottom: 12px;">
							<span class="input-group-btn">
								<span class="btn btn-default btn-file">
									Select file {{ ushers_upload_form.uploaded_file }}
								</span>
							</span>
							{{ ushers_upload_form.tool }}
							<input type="text" class="form-control" readonly>
						</div>
						<button type="submit" class="btn btn-primary">Upload</button>
					</form>
				</div>
				
				{% if ushers_count %}
					<button id="load-more" class="btn btn-default btn-sm">Load more</button>
					<script>
						$("#load-ushers-form").hide()
						$("#load-more").click(function(){
							$(this).hide()
							$("#errors").hide()
							$("#load-ushers-form").show()
						})
					</script>
				{% endif %}
			{% endif %}

			{% if ushers_loader_task_id %}
			
				<div class="progress progress-striped active" style="margin-top: 10px; margin-bottom: 10px;">
				   <div class="progress-bar" role="progressbar" style="width: 100%">
						Checking task progress
				   </div>
				</div>
				<a id="cancel" href="/task/?id={{ ushers_loader_task_id }}&tool_name=ushers_loader&command=revoke_task">
					<button class="btn btn-default">
						Cancel
					</button>
				</a>

				<script>
					function updateProgress(percentage){
					    if(percentage > 100) percentage = 100;
					    $('.progress-bar').css('width', percentage+'%');
					    $('.progress-bar').html(percentage+'%');
					}
					var intervalID;
					intervalID = setInterval(function(){
						$.get("/task/?id={{ ushers_loader_task_id }}&tool_name=ushers_loader&command=get_percentage", function(data){
							var percentage = parseInt(data)
							if (percentage > 0) {
								updateProgress(percentage)
								if (percentage == 100) {
									clearInterval(intervalID)
									$(".progress").removeClass("progress-striped")
									$(".progress").removeClass("active")
									$("#cancel").hide()
									window.location = "{{ path }}"
								}	
							}
						})
					}, 2000)
				</script>
			{% endif %}
		</div>
	</div>

	<div id="fetch-taxon-details" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{% if all_taxa_count != 0 and all_taxa_count == taxa_with_details_count  %}
					<i class="glyphicon glyphicon-ok"></i>&nbsp;
				{% endif %}
				Fetch Taxon Details
			</h3>
		</div>
		<div class="panel-body">
			<p>The loaded ushers come from {{ all_taxa_count }} genomes in total. The taxonomic details of {{ taxa_with_details_count }} of these genomes have been fetched.</p>
			{% if all_taxa_count != taxa_with_details_count %}
				{% if not fetch_taxa_task_id %}
					<form action="" method="post">{% csrf_token %}
						<input type="hidden" name="tool" value="taxa_details_fetcher">
						<button class="btn btn-primary">Fetch now!</button>
					</form>
				{% endif %}
				
				{% if fetch_taxa_task_id %}
			
					<p>Running task progress</p>
					<div class="progress progress-striped active" style="margin-top: 10px; margin-bottom: 10px;">
					   <div class="progress-bar" role="progressbar" style="width: 100%">
							Checking task progress
					   </div>
					</div>
					
					<a id="cancel" href="/task/?id={{ fetch_taxa_task_id }}&tool_name=taxa_details_fetcher&command=abort_task&return_url={{ request.path }}">
						<button class="btn btn-default btn-sm">
							Abort
						</button>
					</a>

					<script>
						function updateProgress(percentage){
						    if(percentage > 100) percentage = 100;
						    $('.progress-bar').css('width', percentage+'%');
						    $('.progress-bar').html(percentage+'%');
						}
						var intervalID;
						intervalID = setInterval(function(){
							$.get("/task/?id={{ fetch_taxa_task_id }}&tool_name=taxa_details_fetcher&command=get_percentage", function(data){
								var percentage = parseInt(data)
								if (percentage > 0) {
									updateProgress(percentage)
									if (percentage == 100) {
										clearInterval(intervalID)
										$(".progress").removeClass("progress-striped")
										$(".progress").removeClass("active")
										$("#cancel").hide()
										window.location = "{{ path }}"
									}	
								}
							})
						}, 2000)
					</script>
				{% endif %}
			{% endif %}
		</div>
	</div>

	<div id="fetch-scaffold-details" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{% if all_scaffolds_count != 0 and scaffolds_with_details_count == all_scaffolds_count  %}
					<i class="glyphicon glyphicon-ok"></i>&nbsp;
				{% endif %}
				Fetch Scaffold Details
			</h3>
		</div>
		<div class="panel-body">
			<p>The loaded ushers come from {{ all_scaffolds_count }} scaffolds in total. Details of {{ scaffolds_with_details_count }} of these scaffolds have been fetched.</p>
			{% if scaffolds_with_details_count != all_scaffolds_count %}
				{% if not fetch_scaffolds_task_id %}
					<form action="" method="post">{% csrf_token %}
						<input type="hidden" name="tool" value="scaffolds_details_fetcher">
						<button class="btn btn-primary">Fetch now!</button>
					</form>
				{% endif %}
				
				{% if fetch_scaffolds_task_id %}
			
					<p>Running task progress</p>
					<div class="progress progress-striped active" style="margin-top: 10px; margin-bottom: 10px;">
					   <div class="progress-bar" role="progressbar" style="width: 100%">
							Checking task progress
					   </div>
					</div>
					
					<a id="cancel" href="/task/?id={{ fetch_scaffolds_task_id }}&tool_name=scaffolds_details_fetcher&command=abort_task&return_url={{ request.path }}">
						<button class="btn btn-default btn-sm">
							Abort
						</button>
					</a>

					<script>
						function updateProgress(percentage){
						    if(percentage > 100) percentage = 100;
						    $('.progress-bar').css('width', percentage+'%');
						    $('.progress-bar').html(percentage+'%');
						}
						var intervalID;
						intervalID = setInterval(function(){
							$.get("/task/?id={{ fetch_scaffolds_task_id }}&tool_name=scaffolds_details_fetcher&command=get_percentage", function(data){
								var percentage = parseInt(data)
								if (percentage > 0) {
									updateProgress(percentage)
									if (percentage == 100) {
										clearInterval(intervalID)
										$(".progress").removeClass("progress-striped")
										$(".progress").removeClass("active")
										$("#cancel").hide()
										window.location = "{{ path }}"
									}	
								}
							})
						}, 2000)
					</script>
				{% endif %}
				
			{% endif %}
		</div>
	</div>

	<div id="fetch-cugene-clusters" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{% if ushers_count != 0 and fetched_clusters_count == ushers_count  %}
					<i class="glyphicon glyphicon-ok"></i>&nbsp;
				{% endif %}
				Fetch CU Gene Clusters
			</h3>
		</div>
		<div class="panel-body">
			<p>There are {{ ushers_count }} ushers in the database. CU gene clusters of {{ fetched_clusters_count }} of these ushers have been fetched.</p>
			{% if ushers_count != fetched_clusters_count %}
				{% if not fetch_cuclusters_task_id %}
					<form action="" method="post">{% csrf_token %}
						<input type="hidden" name="tool" value="cu_clusters_fetcher">
						<button class="btn btn-primary">Fetch now!</button>
					</form>
				{% endif %}
			
				{% if fetch_cuclusters_task_id %}
		
					<p>Running task progress</p>
					<div class="progress progress-striped active" style="margin-top: 10px; margin-bottom: 10px;">
					   <div id="cu-clusters-progress" class="progress-bar" role="progressbar" style="width: 100%">
							Checking task progress
					   </div>
					</div>
					
					<p>{{ fetch_cuclusters_task.get_success_count }} subtasks succeeded out of {{ fetch_cuclusters_task.total_subtasks }} with {{ fetch_cuclusters_task.get_failure_count }} failures.</p>
				
					<a id="cancel" href="/task/?id={{ fetch_cuclusters_task_id }}&tool_name=cu_clusters_fetcher&command=abort_task&return_url={{ request.path }}&version={{ version }}">
						<button class="btn btn-default btn-sm">
							Abort
						</button>
					</a>

					<script>
						function updateProgress(percentage){
						    if(percentage > 100) percentage = 100;
						    $('.progress-bar').css('width', percentage+'%');
						    $('.progress-bar').html(percentage+'%');
						}
						var intervalID;
						intervalID = setInterval(function(){
							$.get("/task/?id={{ fetch_cuclusters_task_id }}&tool_name=cu_clusters_fetcher&command=get_percentage", function(data){
								var percentage = parseInt(data)
								if (percentage > 0) {
									updateProgress(percentage)
									if (percentage == 100) {
										clearInterval(intervalID)
										$(".progress").removeClass("progress-striped")
										$(".progress").removeClass("active")
										$("#cancel").hide()
										window.location = "{{ path }}"
									}	
								}
							})
						}, 5000)
					</script>
				{% endif %}
			{% endif %}
		</div>
	</div>
	
	
	<div id="find-cu-pairs" class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">
				{% if ushers_count != 0 and cluster_cu_pairs_searched == ushers_count  %}
					<i class="glyphicon glyphicon-ok"></i>&nbsp;
				{% endif %}
				Search for Chaperone-Usher Pairs
			</h3>
		</div>
		<div class="panel-body">
			
			<h6>SEARCH STEPS</h6>
			
			<ul class="tool-steps">
				<li>
					Encoding of Gene Annotations per CU Cluster
					{% if cu_search_task1_id %}
						<div class="progress progress-striped active" style="margin-top: 10px; margin-bottom: 10px;">
						   <div class="progress-bar" role="progressbar" style="width: 100%">
								Checking task progress
						   </div>
						</div>
				
						<script>
							function updateProgress(percentage){
							    if(percentage > 100) percentage = 100;
							    $('.progress-bar').css('width', percentage+'%');
							    $('.progress-bar').html(percentage+'%');
							}
							var intervalID;
							intervalID = setInterval(function(){
								$.get("/task/?id={{ cu_search_task1_id }}&step=1&tool_name=cu_search&command=get_percentage", function(data){
									var percentage = parseInt(data)
									if (percentage > 0) {
										updateProgress(percentage)
										if (percentage == 100) {
											clearInterval(intervalID)
											$(".progress").removeClass("progress-striped")
											$(".progress").removeClass("active")
											$("#cancel").hide()
											window.location = "{{ path }}"
										}	
									}
								})
							}, 2000)
						</script>
				
					{% endif %}
				</li>
				<li>
					Identification of Split Ushers and CU Pairs
					{% if cu_search_task2_id %}
						<div class="progress progress-striped active" style="margin-top: 10px; margin-bottom: 10px;">
						   <div class="progress-bar" role="progressbar" style="width: 100%">
								Checking task progress
						   </div>
						</div>
				
						<script>
							function updateProgress(percentage){
							    if(percentage > 100) percentage = 100;
							    $('.progress-bar').css('width', percentage+'%');
							    $('.progress-bar').html(percentage+'%');
							}
							var intervalID;
							intervalID = setInterval(function(){
								$.get("/task/?id={{ cu_search_task2_id }}&step=2&tool_name=cu_search&command=get_percentage", function(data){
									var percentage = parseInt(data)
									if (percentage > 0) {
										updateProgress(percentage)
										if (percentage == 100) {
											clearInterval(intervalID)
											$(".progress").removeClass("progress-striped")
											$(".progress").removeClass("active")
											$("#cancel").hide()
											window.location = "{{ path }}"
										}	
									}
								})
							}, 2000)
						</script>
				
					{% endif %}
				</li>
			</ul>
			
			{% if not cu_search_task1_id and not cu_search_task2_id %}
				{% if not cu_search_done  %}
					<form action="" method="post">{% csrf_token %}
						<input type="hidden" name="tool" value="cu_search">
						<button class="btn btn-primary">Run Search</button>
					</form>
				{% endif %}
			{% endif %}
			
		</div>
	</div>

{% endif %}