#tool-name {
    margin-bottom: 20px;
}

a:hover {
    text-decoration: none;
}

#container {
    margin: 70px 45px 50px 50px;
}

textarea.accessions {
    width: 650px;
    max-width: 90%;
    height: 60px;
}

.results-container {
    min-height: 700px;
}

#current-selection {
    margin-left: 5px;
}

#display-false {
    display: none;
}

#display-true {
    display: block;
}

#mw-slider {
    margin-top: 25px;
    width: 300px;
    z-index: 10;
    margin-left: 5px;
}

#width-control input {
    display: none;
}

#mc-slider {
    position: absolute;
    height: 150px;
    margin-left: 5px;
}

#compactness-control input {
    display: none;
}

#img-list {
    list-style: none;
    margin-left: 55px;
    padding-bottom: 50px;
    padding-right: 50px;
    position: absolute;
    z-index: 5;
}

#developer {
    display: none;
    margin-top: 50px;
    background: #d3d3d3;
    bottom: 10px;
    padding: 1px 5px 1px 5px;
}

#main-controls {
    margin-left: 5px;
}

#loading-gif {
    height: 60px;
    margin-left: 50px;
}

#input-color {
    display: none;
}

.custom-ctrl {
    margin-left: 5px;
}

div.color-picker {
    background: ghostwhite;
    width: 195px;
    height: 195px;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 200;
    border: 10px solid #d3d3d3;
}

#color-picker-btn {
    margin-left: 5px;
}

#customize {
    margin-left: 5px;
}

#default-selection-count {
    display: inline-block;
    margin-left: 10px;
    font-size: 32px;
    vertical-align: -7px;
}

#context-menu {
    display: none;
    z-index: 100;
    position: absolute;
    background: white;
    border: 1px solid black;
}

#context-menu ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

#context-menu ul li {
    padding: 2px 10px 2px 10px;
}

#context-menu ul li:hover {
    background: lightblue;
    color: white;
}

#saved-selections {
    display: inline;
    margin-left: 80px;
}

#export-btn {
    margin-left: 5px;
}

#export-textarea {
    display: none;
    width: 960px;
    margin-left: 5px;
}