.curation-switch {
  display: inline-block;
  padding-right: 10px;
  position: relative;
  top: -8px;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
/* Generated from LESS using BS mixins */
.switch {
  display: inline-block;
  width: 75px;
  height: 26px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #f0f0f0;
  background-image: -moz-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -ms-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e6e6e6), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: -o-linear-gradient(top, #e6e6e6, #ffffff);
  background-image: linear-gradient(top, #e6e6e6, #ffffff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6e6e6', endColorstr='#ffffff', GradientType=0);
  cursor: pointer;
  overflow: hidden;
}
.switch:before {
  content: "";
  display: block;
  width: 0;
  height: 26px;
  position: absolute;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.switch > .switch-thumb {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 0;
  z-index: 3;
  border: solid 1px #999999;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  -webkit-transition: all 0.125s linear;
  -moz-transition: all 0.125s linear;
  -ms-transition: all 0.125s linear;
  -o-transition: all 0.125s linear;
  transition: all 0.125s linear;
}
.switch > .switch-thumb:before,
.switch > .switch-thumb:after {
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  text-align: center;
  width: 50px;
  position: absolute;
  border: 0;
}
.switch > .switch-thumb:before {
  content: "ON";
  right: 20px;
  color: #ffffff;
}
.switch > .switch-thumb:after {
  content: "OFF";
  left: 20px;
  color: #555555;
}
.switch > .switch-thumb[data-label-on]:before {
  content: attr(data-label-on);
}
.switch > .switch-thumb[data-label-off]:after {
  content: attr(data-label-off);
}
.switch.active {
  background-color: #0069cc;
  background-image: -moz-linear-gradient(top, #0055cc, #0088cc);
  background-image: -ms-linear-gradient(top, #0055cc, #0088cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0055cc), to(#0088cc));
  background-image: -webkit-linear-gradient(top, #0055cc, #0088cc);
  background-image: -o-linear-gradient(top, #0055cc, #0088cc);
  background-image: linear-gradient(top, #0055cc, #0088cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0055cc', endColorstr='#0088cc', GradientType=0);
  border-color: #0088cc #0088cc #005580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #0088cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.switch.active:hover,
.switch.active:active,
.switch.active.active,
.switch.active.disabled,
.switch.active[disabled] {
  background-color: #0088cc;
  *background-color: #0077b3;
}
.switch.active:active,
.switch.active.active {
  background-color: #006699 \9;
}
.switch.active.switch-warning {
  background-color: #f9a123;
  background-image: -moz-linear-gradient(top, #f89406, #fbb450);
  background-image: -ms-linear-gradient(top, #f89406, #fbb450);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f89406), to(#fbb450));
  background-image: -webkit-linear-gradient(top, #f89406, #fbb450);
  background-image: -o-linear-gradient(top, #f89406, #fbb450);
  background-image: linear-gradient(top, #f89406, #fbb450);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f89406', endColorstr='#fbb450', GradientType=0);
  border-color: #fbb450 #fbb450 #f89406;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #fbb450;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.switch.active.switch-warning:hover,
.switch.active.switch-warning:active,
.switch.active.switch-warning.active,
.switch.active.switch-warning.disabled,
.switch.active.switch-warning[disabled] {
  background-color: #fbb450;
  *background-color: #faa937;
}
.switch.active.switch-warning:active,
.switch.active.switch-warning.active {
  background-color: #fa9f1e \9;
}
.switch.active.switch-danger {
  background-color: #d14641;
  background-image: -moz-linear-gradient(top, #bd362f, #ee5f5b);
  background-image: -ms-linear-gradient(top, #bd362f, #ee5f5b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bd362f), to(#ee5f5b));
  background-image: -webkit-linear-gradient(top, #bd362f, #ee5f5b);
  background-image: -o-linear-gradient(top, #bd362f, #ee5f5b);
  background-image: linear-gradient(top, #bd362f, #ee5f5b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd362f', endColorstr='#ee5f5b', GradientType=0);
  border-color: #ee5f5b #ee5f5b #e51d18;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #ee5f5b;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.switch.active.switch-danger:hover,
.switch.active.switch-danger:active,
.switch.active.switch-danger.active,
.switch.active.switch-danger.disabled,
.switch.active.switch-danger[disabled] {
  background-color: #ee5f5b;
  *background-color: #ec4844;
}
.switch.active.switch-danger:active,
.switch.active.switch-danger.active {
  background-color: #e9322d \9;
}
.switch.active.switch-success {
  background-color: #58b058;
  background-image: -moz-linear-gradient(top, #51a351, #62c462);
  background-image: -ms-linear-gradient(top, #51a351, #62c462);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51a351), to(#62c462));
  background-image: -webkit-linear-gradient(top, #51a351, #62c462);
  background-image: -o-linear-gradient(top, #51a351, #62c462);
  background-image: linear-gradient(top, #51a351, #62c462);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51a351', endColorstr='#62c462', GradientType=0);
  border-color: #62c462 #62c462 #3b9e3b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #62c462;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.switch.active.switch-success:hover,
.switch.active.switch-success:active,
.switch.active.switch-success.active,
.switch.active.switch-success.disabled,
.switch.active.switch-success[disabled] {
  background-color: #62c462;
  *background-color: #4fbd4f;
}
.switch.active.switch-success:active,
.switch.active.switch-success.active {
  background-color: #42b142 \9;
}
.switch.active.switch-info {
  background-color: #41a7c5;
  background-image: -moz-linear-gradient(top, #2f96b4, #5bc0de);
  background-image: -ms-linear-gradient(top, #2f96b4, #5bc0de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f96b4), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #2f96b4, #5bc0de);
  background-image: -o-linear-gradient(top, #2f96b4, #5bc0de);
  background-image: linear-gradient(top, #2f96b4, #5bc0de);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f96b4', endColorstr='#5bc0de', GradientType=0);
  border-color: #5bc0de #5bc0de #28a1c5;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #5bc0de;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.switch.active.switch-info:hover,
.switch.active.switch-info:active,
.switch.active.switch-info.active,
.switch.active.switch-info.disabled,
.switch.active.switch-info[disabled] {
  background-color: #5bc0de;
  *background-color: #46b8da;
}
.switch.active.switch-info:active,
.switch.active.switch-info.active {
  background-color: #31b0d5 \9;
}
.switch.active.switch-inverse {
  background-color: #363636;
  background-image: -moz-linear-gradient(top, #222222, #555555);
  background-image: -ms-linear-gradient(top, #222222, #555555);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#555555));
  background-image: -webkit-linear-gradient(top, #222222, #555555);
  background-image: -o-linear-gradient(top, #222222, #555555);
  background-image: linear-gradient(top, #222222, #555555);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#222222', endColorstr='#555555', GradientType=0);
  border-color: #555555 #555555 #2f2f2f;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  *background-color: #555555;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

}
.switch.active.switch-inverse:hover,
.switch.active.switch-inverse:active,
.switch.active.switch-inverse.active,
.switch.active.switch-inverse.disabled,
.switch.active.switch-inverse[disabled] {
  background-color: #555555;
  *background-color: #484848;
}
.switch.active.switch-inverse:active,
.switch.active.switch-inverse.active {
  background-color: #3b3b3b \9;
}
.switch.active:before {
  width: 75px;
}
.switch.active > .switch-thumb {
  left: 49px;
}
.switch:hover > .switch-thumb {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  background-position: 0 -15px;
}
.switch input[type="checkbox"] {
  display: none;
}